familia.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="families">
<xs:complexType>
    <xs:sequence>
        <xs:element name="family" maxOccurs="unbounded">
<xs:complexType>
    <xs:sequence>
        <xs:element name="father" type="xs:string"></xs:element>
        <xs:element name="mother" type="xs:string"></xs:element>
    </xs:sequence>
    <xs:attribute name="code" type="xs:string" use="required"></xs:attribute>
</xs:complexType>
        </xs:element>
    </xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>